body {
	margin: 0;
	padding: 0;
	background-color: #eee;
}

.container {
	padding: 20px;
	width: 80%;
	margin: auto;
	border-radius: 15px;
	background-color: rgb(163, 219, 163);
}

.header-container {
	width: 95%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

header .highlight {
	float: left;
	color: #fff;
}

header .header-container .highlight:hover {
	color: #000;
}

header {
	background-color: green;
	border-bottom: #000 4px solid;
	text-align: center;
	color: #fff;
	font-family: "Times New Roman", Times, serif;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.container h1 {
	text-align: center;
}

.form-group {
	padding-bottom: 15px;
}

.selection-1 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.selection {
	padding-bottom: 5px;
}

.my-form select {
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 0px;
	/* padding: 10px; */
}

.my-form input[type="text"],
.my-form input[type="phone"],
.my-form input[type="date"],
.my-form textarea,
.my-form select {
	padding-top: 10px;
	padding-bottom: 15px;
	width: 100%;
}

.checkbox-container {
	padding-right: 10px;
}

.label {
	padding-bottom: 10px;
}

.my-form input[type="button"] {
	margin-top: 10px;
	padding: 10px;
	width: 100%;
	color: #fff;
	background-color: green;
}

.required:after {
	content: " *";
	color: red;
}

footer {
	text-align: center;
	color: #fff;
	margin-top: 20px;
	background-color: #000;
	padding: 20px;
	min-height: 180px;
}

footer .boxes {
	background-color: #000;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer .boxes .box {
	float: left;
	flex: 1 1 30%;
	width: 30%;
	background-color: #000;
	margin: 0 10px;
	padding: 10px;
	text-align: left;
}

footer .box a {
	color: #fff;
}

footer .box a:hover {
	color: green;
}

footer .box img {
	width: 250px;
}

.login-modal {
	display: none;
	position: absolute;
	top: 100%;
	margin-top: 1px;
	right: 0;
	width: fit-content;
	gap: 11px;
	flex-direction: column;
	padding: 10px;
	background-color: white;
	cursor: pointer;
}

.login-button {
	position: relative;
	cursor: pointer;
}

.menu-container {
	position: relative;
}

.js-login-modal {
	position: absolute;
	top: 100%;
	margin-top: 1px;
	right: 0;
	background-color: white;
	cursor: pointer;
}

.user-info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 10px;
}

.user-info>div {
	margin-bottom: 5px;
	/* Add other styles as needed for user info */
}

.sign-out {
	cursor: pointer;
	color: #007bff;
	padding: 1%;
	/* Customize the color as needed */
	/* Add other styles as needed for the "Sign Out" link */
}